<div class="modal" style="display:none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 class="modal-title">Add User</h3>
  </div>
  <div class="modal-body">
    <%= form_for(user,:remote=>true, :html=>{:class=>'data-form'}) do |f| %>
 
        <div id="error_explanation">
         
        </div>

     <fieldset>
		  <div class="clearfix">
			  <%= f.label :email %>
			  <div class="input">
			  	<%= f.email_field :email %>
			  </div>
		  </div>
      <div class="clearfix">
			  <%= f.label :name %>
			  <div class="input">
			  	<%= f.text_field :name %>
			  </div>
		  </div>
     <div class="clearfix">
			  <%= f.label :password %>
			  <div class="input">
			  	<%= f.password_field :password %>
			  </div>
		  </div>
    <div class="clearfix">
			  <%= f.label :password %>
			  <div class="input">
			  	<%= f.password_field :password_confirmation %>
			  </div>
		  </div>
    <div class="clearfix">
	    <%= f.label :admin %><div class="input"><%= f.check_box :admin %>		  </div>
	  </div>  
    
  </fieldset>
  </div>

  <div class="modal-footer">
    <%= f.submit "Save Changes", :class => "btn btn-primary" %>
    <a href="#" class="btn close-modal">Close</a>
  </div>
</div>
<% end %>
