<tr class="<%= cycle("odd", "even") %>"> 
  <td>
    <img class="<%= asset.class.name.downcase %>_icon" ></span><%= link_to asset.name,asset,:class => asset.class.name.downcase %> 
  </td>

  <td>
    <%= asset.created_at %>
  </td>
  <td>
    <%= asset.updated_at %>
  </td>
  <td>
    <#%#= asset.extension %>
  </td>
  <td>
    <%= asset.user.name %>
  </td>
</tr>

