<% if can? :create,[Folder,Document] %>
    <div class="add-asset" style="float:right">
      <%= link_to 'Add Document',"#",:class=>"btn addDocument" %>
    </div>
    
     <div class="add-asset" style="float:left">
        <%= link_to 'Add Folder',"#",:class=>"btn addFolder" %>
    </div>
  <%end%>
  <br/>
  <br/>
  <table class="table table-striped table-bordered table-condensed" id="table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Uploaded At </th>
        <th> Last Modified At </th>
        <!-- <th> Extension </th> -->
        <th> Uploaded By</th>
      </tr>
    </thead>

    <tbody id="container">
      <%= render :partial => "documents/asset" ,:collection => assets ,:as => :asset %>
    </tbody>
  </table>



  <% if can? :create,[Folder,Document] %>
    <%= render :partial => "folders/new_folder" , :locals => {:folder => Folder.new ,:flash => flash ,:parent_id => parent_id } %>
    <%= render :partial => "documents/new" ,:locals => {:document => Document.new ,:flash => flash,:parent_id => parent_id} %>
  <%end%>
