<%= content_for :head do %>
  <style type="text/css">
    div.content.grid_12 {
      margin :0px;
      
    }
    span.folder_icon {
      background-image: url("/assets/themes/classic/d.png");
      width: 108px;
      height: 72px;
    }

  </style>
  <%= stylesheet_link_tag "/assets/themes/classic/style.css" %>
  <%= javascript_include_tag "/assets/jquery.hotkeys.js" %>
  <%= javascript_include_tag "/assets/jquery.jstree.js" %>
<%end%>
<div class="contour">
  <%= render :partial => "index" ,:locals => {:assets => @assets,:flash => flash ,:parent_id => @parent_id } %>
</div>

<div class="modal" id="modal_container" style="display:none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" data-cursor="true">×</a>
    <h2 style="color:red;">Error !!!</h2>
  </div>
  <div class="modal-body">
    <p class="error">One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-cursor="true">Close</a>
  </div>
</div>


<!-- TODO write something Better like remote => true for folder instead of the given way -->
<%= javascript_tag  do %>
  $(document).ready(function() {
      $("table#table").delegate("a.folder","click",function(event) {
          event.preventDefault();
          var id = $(this).closest('tr').attr("id");
          $.ajax({
             "url" : $(this).attr("href"),
             "type" : "GET",
             "success" : function(html) {
                $("div.contour").html(html);
                $(".well").jstree("open_node",$("li#"+id));
                $(".well").jstree("select_node",$("li#"+id));
             },
             "error" : function(jqXHR, textStatus, errorThrown) {
                $("div.modal-body").find('p.error').html(textStatus ||  errorThrown);
                $("div#modal_container").modal('show');        
             }
          })
      })
    
      $("div.modal").delegate("a","click",function(event) {
         $("div#modal_container").modal('hide');
      })
      
      $("a[data-cursor=true]").css({"cursor":"pointer"});
      
      $("#fileTree").jstree({
        "json_data"  : {
          "data" : <%= raw folders_structure %> ,
        },
       "themes" : {
          "theme" : "classic",
          "dots" : true,
          "icons" : true
       },
      "plugins" : ["themes",  "json_data" ,"ui"]
     })
      
  })
<%end%>





<%= content_for :sidebar do %>
  <div class="well" id="fileTree">
  </div>
 <%end%>

<%= javascript_tag do %>
  $(document).ready(function() {
    $("#folder_new").bind("ajax:success",function(evt, data, status, xhr) {
       $(".modal").modal('hide');     
    })
    .bind("ajax:error",function(evt, xhr, status, errorThrown) {
      $(".modal").modal('hide');
      $("div.modal-body").find('p.error').html(errorThrown);
      $(".modal#modal_container").modal('show');      
    })

    $("a.clicked").live("click",function(event) {
       
        var id = $(this).attr("data_id");
        $.ajax({
          "url"  :  "/folders/"+id+"/tree_structure",
          "type" : "GET",
          "success" : function(html) {
             $("div.contour").html(html);
          }
        })
        event.preventDefault(); 
    })

   
  })
<%end%>  


 
