<%= form_for document, :html => {:multipart => true} do |f| %>
  <p>
    <label>Upload Document</label>
    <p>
    <%= f.text_field :name ,:placeholder => "Name of Document" %>
    </p>
    <%= f.file_field :asset %>
    <%= f.hidden_field :asset_cache %>
    <%= f.hidden_field :folder_id ,:value => parent_id %>
  </p>
  <p>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </p>
<% end %>

